* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Quicksand, sans-serif;
  color: #666;
  background: #eaeaea url(../../images/body_bg.png);
}

h1, h2, h3, h4 {font-family: 'Quicksand', sans-serif;}

h1 {
  font-size: 34px;
  color: #000;
  font-weight: inherit;
  margin:0;
  padding:20px 0;
  line-height:1em;
}

h2, h3{
  font-size:2em;
  margin: 20px 0;
  color: #000;
  font-weight: inherit;
  line-height:1em;
}


h4 {
  font-size: 1.2em;
  font-weight: 700
}

img{
  max-width:100%;
}
blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 10px 0;
}